<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление описание</title>
</head>
<body>
    <h2>Удаление описания</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <p>Вы действительно хотите удалить "{{ object }}"?</p>
        </div>
        <div>
            <input type="submit" value="Подтвердить"></input>
        </div>
    </form>
    </form>
</body>
</html>