{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Description Detail{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="mt-2">Полученный текст</h2>
      <hr class="mt-0 mb-4">
      {% if description %}
      <div class="mb-3">
        <p><strong>ID:</strong> {{ description.work_program_id }}</p>
        <p><strong>Описание:</strong> {{ description.description_text }}</p>
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        Описание не найдено
      </div>
      {% endif %}
      <a href="/API/description/" class="btn btn-primary">Назад</a>
    </div>
  </div>
</div>
{% endblock %}

