{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Description_API{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="mt-2">Получение описания рабочей программы из API конструктора</h2>
      <hr class="mt-0 mb-4">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="description_id" class="form-label">Введите ID рабочей программы:</label>
          <input type="text" class="form-control" id="description_id" name="description_id">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-success">Отправить</button>
        </div>
      </form>
      {% if error_message %}
      <div class="alert alert-danger mt-3" role="alert">
        {{ error_message }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

<!--     
    <h2></h2>
    <form method="post" action="">
        {% csrf_token %}
        <label for="description_id">Введите ID рабочей программы:</label>
        <input type="text" id="description_id" name="description_id">
        <button type="submit">Отправить</button>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% elif description %}
        <p>{{ description }}</p>
    {% endif %}
</body>
</html> -->
