{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Editors{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="table-info">
            <tr>
                <th>username</th>
                <th>last_name</th>
                <th>first_name</th>
                <th>email</th>
                <th>work_program_id</th>
            </tr>
        </thead>
        <tbody>
            {% for editors in object_list %}
            <tr>
                <td>{{ description.username }}</td>
                <td>{{ description.last_name }}</td>
                <td>{{ description.first_name }}</td>
                <td>{{ description.email }}</td>
                <td>{{ description.work_program_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
