{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}All descriptions{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="table-info">
            <tr>
                <th>work_program_id</th>
                <th>description</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for description in object_list %}
            <tr>
                <td>{{ description.work_program_id }}</td>
                <td>{{ description.description_text }}</td>
                <td>
                    <!-- Добавляем кнопки и ссылки на представления -->
                    <a href="{% url 'delete_description' description.pk %}" class="btn btn-danger">Удалить</a>
                    <a href="{% url 'summarization' description.work_program_id %}" class="btn btn-info">Реферировать</a>
                    <a href="{% url 'update_description' description.pk %}" class="btn btn-success">Редактировать</a>
                    <a href="{% url 'editors' description.pk %}" class="btn btn-secondary">Редакторы</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}